workflow_terra_vista.json
{
  "id": "GoReM1W65uebzAMu",
  "name": "Terra Vista",
  "nodes": [
    {
      "id": "webhook-trigger-id",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "process-matriculas",
        "responseMode": "lastNode",
        "responseData": "firstEntryBinary",
        "responseBinaryPropertyName": "data",
        "options": {}
      }
    },
    {
      "id": "sanitize-slice-id",
      "name": "Sanitize URLs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        200,
        0
      ],
      "parameters": {
        "jsCode": "const items = $input.all();\nconst body = items[0].json.body.body;\nif (!Array.isArray(body)) {\n  throw new Error(\"Input must be a JSON array in the request body\");\n}\nconst sanitized = body.map(data => {\n  let url = data.Link_Matricula_PDF || \"\";\n  url = url.replace(/,/g, '.');\n  return {\n    ...data,\n    Link_Matricula_PDF: url,\n    URL_origem: url,\n    status_processamento: \"pendente\",\n    data_hora: new Date().toISOString(),\n    observacoes: \"\"\n  };\n});\nreturn sanitized.map(s => ({ json: s }));"
      }
    },
    {
      "id": "download-pdf-id",
      "name": "Download PDF",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        800,
        0
      ],
      "parameters": {
        "url": "={{ 'https://8e3350a44f7b94.lhr.life/proxy?url=' + encodeURIComponent($json.Link_Matricula_PDF) }}",
        "responseFormat": "file",
        "outputResponseKey": "data",
        "options": {}
      },
      "onError": "continueRegularOutput",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000
    },
    {
      "id": "if-download-ok-id",
      "name": "If Download OK",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1000,
        0
      ],
      "parameters": {
        "conditions": {
          "combinator": "and",
          "conditions": [
            {
              "id": "has_binary",
              "leftValue": "={{ Object.keys($binary).includes('data') ? 'yes' : 'no' }}",
              "operator": {
                "type": "string",
                "operation": "equals"
              },
              "rightValue": "yes"
            }
          ]
        }
      }
    },
    {
      "id": "handle-download-error-id",
      "name": "Handle Download Error",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1000,
        200
      ],
      "parameters": {
        "jsCode": "const currentItem = $('Loop').item.json;\nreturn [{\n  json: {\n    ...currentItem,\n    status_processamento: \"revisao_manual\",\n    observacoes: \"Link quebrado ou erro HTTP ao baixar o PDF ap\u00f3s retentativas\"\n  }\n}];"
      }
    },
    {
      "id": "generate-xlsx-id",
      "name": "Generate Output XLSX",
      "type": "n8n-nodes-base.spreadsheetFile",
      "typeVersion": 2,
      "position": [
        800,
        -200
      ],
      "parameters": {
        "operation": "toFile",
        "binaryPropertyName": "data",
        "fileFormat": "xlsx",
        "options": {}
      }
    },
    {
      "parameters": {
        "compare": "selectedFields",
        "fieldsToCompare": "Link_Matricula_PDF",
        "options": {}
      },
      "id": "remove-duplicates-id",
      "name": "Remove Duplicates",
      "type": "n8n-nodes-base.removeDuplicates",
      "typeVersion": 1,
      "position": [
        400,
        0
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "loop-id",
      "name": "Loop",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        600,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const currentItem = $('Loop').item.json;\nconst base64Data = (await this.helpers.getBinaryDataBuffer(0, 'data')).toString('base64');\nconst promptText = \"Analise o arquivo de matr\u00edcula de im\u00f3vel (PDF) fornecido e extraia as informa\u00e7\u00f5es fiscais e de propriedade estritamente conforme as regras:\\n\\nREGRAS CR\u00cdTICAS:\\n1. Extraia apenas dados LITERALMENTE presentes na matr\u00edcula. N\u00e3o invente nenhum dado.\\n2. Se uma informa\u00e7\u00e3o n\u00e3o estiver expl\u00edcita, preencha o campo correspondente como \\\"n\u00e3o encontrado\\\".\\n3. Identifique se o im\u00f3vel sofreu execu\u00e7\u00e3o por inadimpl\u00eancia (leil\u00e3o extrajudicial, consolida\u00e7\u00e3o da propriedade por aliena\u00e7\u00e3o fiduci\u00e1ria, adjudica\u00e7\u00e3o, arremata\u00e7\u00e3o). Se sim, extraia o(s) propriet\u00e1rio(s) anterior(es) afetado(s) e o n\u00famero da averba\u00e7\u00e3o.\\n\\nRetorne a resposta estritamente no seguinte formato JSON. N\u00e3o adicione nenhuma explica\u00e7\u00e3o extra ou Markdown:\\n{\\n  \\\"numero_matricula_cartorio\\\": \\\"n\u00famero da matr\u00edcula e o cart\u00f3rio / of\u00edcio de registro de im\u00f3veis\\\",\\n  \\\"inscricao_municipal\\\": \\\"inscri\u00e7\u00e3o municipal/imobili\u00e1ria do im\u00f3vel\\\",\\n  \\\"contribuinte\\\": \\\"contribuinte (titular vinculado)\\\",\\n  \\\"proprietarios_atuais\\\": [\\\"nome do propriet\u00e1rio 1\\\", \\\"nome do propriet\u00e1rio 2\\\"],\\n  \\\"indicador_execucao_inadimplencia\\\": true ou false,\\n  \\\"proprietarios_anteriores\\\": [\\\"nome do propriet\u00e1rio anterior 1\\\"] ou [],\\n  \\\"averbacao_execucao\\\": \\\"n\u00famero ou descri\u00e7\u00e3o da averba\u00e7\u00e3o de consolida\u00e7\u00e3o/leil\u00e3o\\\" ou \\\"n\u00e3o encontrado\\\",\\n  \\\"data_ultima_compra_venda\\\": \\\"data no formato DD/MM/AAAA\\\",\\n  \\\"valor_ultima_compra_venda\\\": \\\"valor em R$\\\",\\n  \\\"valor_avaliacao\\\": \\\"valor de avalia\u00e7\u00e3o em R$\\\",\\n  \\\"onus_gravames\\\": \\\"lista de \u00f4nus ativos (hipoteca, penhora, etc.) ou 'n\u00e3o encontrado'\\\"\\n}\";\n\nreturn [{\n  json: {\n    ...currentItem,\n    geminiPayload: {\n      contents: [\n        {\n          role: \"user\",\n          parts: [\n            {\n              inlineData: {\n                mimeType: \"application/pdf\",\n                data: base64Data\n              }\n            },\n            {\n              text: promptText\n            }\n          ]\n        }\n      ]\n    }\n  }\n}];"
      },
      "id": "prepare-gemini-payload-id",
      "name": "Prepare Gemini Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1200,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://us-central1-aiplatform.googleapis.com/v1/projects/project-112b24ea-45b3-459e-b56/locations/us-central1/publishers/google/models/gemini-2.5-flash:generateContent",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.geminiPayload) }}",
        "options": {}
      },
      "id": "call-gemini-api-id",
      "name": "Call Gemini API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1400,
        0
      ],
      "credentials": {
        "googleApi": {
          "id": "3ChtMMbpuSHREvkv",
          "name": "Google Vertex Account HTTP"
        }
      },
      "onError": "continueRegularOutput",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "jsCode": "const currentItem = $('Loop').item.json;\nlet result = {};\ntry {\n  const aiOutput = $('Call Gemini API').item.json.candidates[0].content.parts[0].text;\n  let parsed = aiOutput;\n  if (typeof parsed === 'string') {\n    const jsonMatch = parsed.match(/\\{[\\s\\S]*\\}/);\n    if (jsonMatch) {\n      parsed = JSON.parse(jsonMatch[0]);\n    } else {\n      parsed = JSON.parse(parsed);\n    }\n  }\n  result = {\n    ...currentItem,\n    ...parsed,\n    status_processamento: \"sucesso\",\n    observacoes: \"\"\n  };\n} catch (e) {\n  result = {\n    ...currentItem,\n    status_processamento: \"revisao_manual\",\n    observacoes: \"Erro ao analisar resposta da IA: \" + e.message\n  };\n}\nreturn [{ json: result }];"
      },
      "id": "consolidate-ai-data-id",
      "name": "Consolidate AI Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1600,
        0
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Sanitize URLs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sanitize URLs": {
      "main": [
        [
          {
            "node": "Remove Duplicates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remove Duplicates": {
      "main": [
        [
          {
            "node": "Loop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop": {
      "main": [
        [
          {
            "node": "Generate Output XLSX",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Download PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download PDF": {
      "main": [
        [
          {
            "node": "If Download OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Download OK": {
      "main": [
        [
          {
            "node": "Prepare Gemini Payload",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Handle Download Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Gemini Payload": {
      "main": [
        [
          {
            "node": "Call Gemini API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Gemini API": {
      "main": [
        [
          {
            "node": "Consolidate AI Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Consolidate AI Data": {
      "main": [
        [
          {
            "node": "Loop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handle Download Error": {
      "main": [
        [
          {
            "node": "Loop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}